
.palavra {
        color: purple;
        transition: transform 0.3s ease, color 0.3s ease, opacity 0.6s ease;
    }

    .palavra:hover {
        transform: scale(1.2);
        color: violet;
    }
    .row{
        display: flex;
        justify-content: row;
    }

    body {
        font-family: Arial, sans-serif;
        justify-content: center;
        flex-direction: column;
        background: #0d1117;
        color: #fff;
        text-align: center;
    }

    /* container geral */
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    /* área 3D */
    .card {
        width: 20%;
        /* ocupa 20% da largura da section */
        height: 800px;
        /* altura fixa (pode ajustar) */
        perspective: 1000px;
        padding: 1%;
    }


    /* parte que gira */
    .card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* vira ao passar o mouse */
    .card:hover .card-inner {
        transform: rotateY(180deg);
    }

    /* frente e verso */
    .card-front {
        position: absolute;
        height: 60%;
        width: 100%;
        backface-visibility: hidden;
        border: 1px solid;
        border-radius: 10px;
        background-color: #111;
        color: white;
        box-shadow: 0 0 10px rgba(128, 0, 128, 0.4);
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-back {
        position: absolute;
        width: 100%;
        backface-visibility: hidden;
        border: 1px solid;
        border-radius: 10px;
        background-color: #111;
        color: white;
        box-shadow: 0 0 10px rgba(128, 0, 128, 0.4);
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* verso */
    .card-back {
        transform: rotateY(180deg);
        border-color: violet;
        background-color: #1a1a1a;
    }

    /* imagem */
    .card-img {
        width: 90%;
        border-radius: 10%;
        margin-bottom: 15px;
        transition: transform 0.3s ease;
        height: 50%;
    }

    .card-img:hover {
        transform: scale(1.05);
    }

    .card-img:active {
        transform: scale(1.55);
    }
    /* conteúdo */
    .card-conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-texto {
        text-align: justify;
        padding: 10px;
    }

    /* botões */
    .card-btn {
        background-color: purple;
        padding: 8px 12px;
        color: whitesmoke;
        text-decoration: none;
        margin-top: 10px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .card-btn:hover {
        background-color: violet;
        transform: scale(1.1);
    }

    .geral {
        padding: 5%;
        justify-content: space-around;
        cursor: pointer
    }

    .cgeral {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border: 2px solid;
        border-radius: 10px;
        align-items: center;
        transition: transform 0.3s ease, color 0.3s ease, opacity 0.6s ease;

    }

    .geral h3 {
        transition: transform 0.3s ease, color 0.3s ease, opacity 0.6s ease;
        cursor: pointer;
        flex-wrap: wrap;
    }

    .cgeral:hover {
        color: whitesmoke;
        cursor: pointer
    }

    .cgeral:active {
        color: violet;
        cursor: pointer
    }


    #sobre-img {
        max-height: 400px;
        border-radius: 5px;
        transition: transform 0.3s ease;
    }

    #sobre-img:hover {
        transform: scale(1.05);
    }

    .sobre {
        display: flex;
        padding: 5%;
        justify-content: space-around;
        cursor: pointer;
        flex-direction: column;
    }

    .csobre {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        border: 2px solid;
        border-radius: 10px;
        align-items: center;
        transition: transform 0.3s ease, color 0.3s ease, opacity 0.6s ease;
        flex-wrap: wrap;

    }
    
    